campfire:
  subdomain: YOUR_SUBDOMAIN
  token: CAMPFIRE_API_TOKEN
  room: CAMPFIRE_ROOM
  open_msg: MESSAGE_POSTED_WHEN_BUTTON_LID_OPENED
  close_msg: MESSAGE_POSTED_WHEN_BUTTON_LID_CLOSED
  push_msg: MESSAGE_POSTED_WHEN_BUTTON_PUSHED
